<div class="container">
  <div class="about-team-wrap">
    <div class="join-us-title">
      <h5>{{ section.settings.heading}}</span> </h5>
    </div>
  <div class="row"> 
    {% for block in section.blocks %}
    <div class="col-md-20 col-sm-30 team-item">
      <div class="card-item" > <img src="{{ block.settings.image | img_url: '500x500' }}" alt="{{ block.settings.image}}"> <img src="{{ block.settings.image1 | img_url: '500x500' }}" class="img-top" alt="Card Front"> </div>
      <div class="about-team">
        <h4>{{ block.settings.name}}</h4>
        <p>{{ block.settings.designation}}</p>
      </div>
    </div>
    {% endfor %}
     </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-60 text-center about-contact-bottom">
 <a href="{{ section.settings.button-url}}" class="customize btn contact-btn " target="_blank">
      {{ section.settings.button}}
      </a> 
          <p>{{ section.settings.button-bottom}}</p>
    <p><em>{{ section.settings.button-bottom2}}</em></p>
  </div>
</div>
</div>
{% schema %}
  {
    "name": "Join Us",
    "class": "bottom",
    "settings": [

     {
          "type": "text",
            "id": "heading",
            "label": "Title"
       },
       {
          "type": "text",
            "id": "button",
            "label": "Button Text"
       },
         {
          "type": "url",
            "id": "button-url",
            "label": "Button Url"
       }
       ,
         {
          "type": "text",
            "id": "button-bottom",
            "label": "Button Bottom Line 1"
       }
       ,
         {
          "type": "text",
            "id": "button-bottom2",
            "label": "Button Bottom Line 2"
       }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Add Team Member",
        "settings": [
      {
          "type": "image_picker",
            "id": "image",
            "label": "Default Image"
       },
       {
          "type": "image_picker",
            "id": "image1",
            "label": "Hover Image"
       },
          {
          "type": "text",
            "id": "name",
            "label": "Name"
       },
        {
          "type": "text",
            "id": "designation",
            "label": "Designation"
       }

        ]  
        }  
    ]
  }
{% endschema %}
       <style type="text/css">
    .card-item {
        position: relative;
        display: inline-block;
        vertical-align: top;
    }
    .card-item .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
    .card-item:hover .img-top {
        display: inline;
    }
</style>
{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %} 