{% if section.settings.message %}
  <style>
    .notification-bar {
      background-color: {{ section.settings.color_bg }};
    }

    .notification-bar__message {
      color: {{ section.settings.color_text }};
    }
  </style>
<div class="container-fluid">
  <div class="notification-bar ">
      <div class="slidelogo"><a href="/"><img src="//cdn.shopify.com/s/files/1/1540/3055/t/14/assets/minilogo.png?13473185124020475214" style="height:45px;"></a></div>
    <div class="row">
    {% if section.settings.message %}
      {% if section.settings.message_icon != blank %}
        {% capture message_icon %}<em class="fa {{ section.settings.message_icon }}"></em>{% endcapture %}
      {% endif %}
      {% if section.settings.message_link != blank %}
        <a href="{{ section.settings.message_link }}" class="notification-bar__message">
          {% if section.settings.align_message_icon == 'left' and section.settings.message_icon != blank %}{{ message_icon }}{% endif %}
          {{ section.settings.message_text | escape }}
          {% if section.settings.align_message_icon == 'right' and section.settings.message_icon != blank %}{{ message_icon }}{% endif %}
        </a>
      {% else %}
        <span class="notification-bar__message header-text col-md-20">
          {% if section.settings.align_message_icon == 'left' and section.settings.message_icon != blank %}{{ message_icon }}{% endif %}
          {{ section.settings.message_text | escape }}
          {% if section.settings.align_message_icon == 'right' and section.settings.message_icon != blank %}{{ message_icon }}{% endif %}
        </span>

        <div class="icon-wrap">

          <div class="site-header__search hidden-sm-down">
              {% include 'search-form' %}
            </div>
             <div class="site-header__icons-wrapper">
          {% if settings.align_logo == 'left' or settings.align_menu == 'inline'  %}
            
          {% endif %}

          <button type="button" class="btn--link site-header__search-toggle js-drawer-open-top hidden-md-up">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
          </button>

          {% if shop.customer_accounts_enabled %}
            {% if customer %}
              <a href="/account" class="site-header__account animsition-link">
                {% include 'icon-login' %}
                <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
              </a>
            {% else %}
              <a href="/account/login" class="site-header__account animsition-link">
                {% include 'icon-login' %}
                <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
              </a>
            {% endif %}
          {% endif %}

          <a href="/cart" class="site-header__cart">
            {% include 'icon-cart' %}
            <span class="visually-hidden">{{ 'layout.cart.title' | t }}</span>
            <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
            {% if cart.item_count > 0 %}
              <div id="CartCount" class="site-header__cart-count">
                <span>{{ cart.item_count }}</span>
                <span class="icon__fallback-text hidden-md-up">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
              </div>
            {% endif %}
          </a>

        </div>
            {% if settings.cartdropdown %}
          <div class="shopping-cart">
            {% if cart.item_count > 0 %}
              <ul class="shopping-cart-items">
                {% for item in cart.items %}
                  <li id="cart-item-{{ item.id }}" class="item clearfix">
                    <a href="{{ item.url }}" class="d-flex animsition-link">
                      <img src="{{ item.image | product_img_url: 'small' }}" alt="{{ item.title }}" />
                      <div class="product-details">
                        <span class="item-name">{{ item.product.title }}</span>
                        <span class="item-option">
                          {% if item.product.variants.size != 0 %}
                            {% unless item.variant.title contains 'Default' %}
                              <small>{{ item.variant.title }}</small>
                            {% endunless %}
                          {% endif %}
                        </span>
                        <span class="item-price">{{ item.line_price | money }}</span>
                        <span class="item-quantity">x {{ item.quantity }}</span>
                      </div>
                    </a>
                  </li>
                {% endfor %}
              </ul>
              <div class="shopping-cart-header">
                {{ 'cart.general.subtotal' | t }}: {{ cart.total_price | money }}
              </div>
              <a href="/cart" class="btn btn--secondary half">Cart</a>
              <a href="/checkout" class="btn btn--secondary half">Checkout</a>
            {% else %}
              <p class="text-center">{{ 'cart.general.empty' | t }}</p>
              <a href="/" class="btn btn--secondary full">{{ 'general.404.link' | t }}{% include 'icon-arrow-right' %}</a>
            {% endif %}
          </div>

          <div class="site-header__cart__overlay"></div>

          <script>
            $.fn.slideFadeToggle  = function(speed, easing, callback) {
              return this.animate({opacity: 'toggle', height: 'toggle'}, speed, easing, callback);
            };
            $('.site-header__cart').click(function(e) {
              e.preventDefault();
              $('.shopping-cart').slideFadeToggle().next('.site-header__cart__overlay').toggle();
            });
            $('.site-header__cart__overlay').click(function(e){
              e.preventDefault();
              $(this).toggle().prev('.shopping-cart').slideFadeToggle();
            });
          </script>
        {% endif %}
        </div>
      {% endif %}
    {% endif %}
  </div>
</div>
</div>
  <script>
    $(window).load(function(){
      var menOffset = $('.notification-bar').outerHeight();
      $('.mobile-nav-wrapper').css('top','-'+menOffset+'px');
    });
  </script>
{% endif %}

{% schema %}
  {
    "name": "Notification Bar",
    "settings": [
       {
        "type": "checkbox",
        "id": "message",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "text",
        "id": "message_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "text",
        "id": "message_icon",
        "label": "Icon name",
        "info": "[Click here](http:\/\/fontawesome.io\/cheatsheet\/) to view the list of available icons. Example: fa-anchor"
      },
      {
        "type": "radio",
        "id": "align_message_icon",
        "label": "Icon alignment",
        "default": "left",
        "options": [
          {"value": "left", "label": "Before Text"},
          {"value": "right", "label": "After Text"}
        ]
      },
      {
        "type": "url",
        "id": "message_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Announcement color",
        "default": "#7796A8"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Announcement text color",
        "default": "#fff"
      }
    ]
  }
{% endschema %}
