<div class="full-width">
  <div class="container">
    <div class="row">
      <article class="col-lg-30 offset-lg-15 col-md-40 offset-md-10">
        <div class="rte">
          {%- assign start_title = page.content | slice: 0, 3 -%}
          {% if start_title contains 'h1' %}
            {%- assign page_title = page.content | split: '</h1>' -%}
            {{ page_title[1] }}
          {% else %}
            {{ page.content }}
          {% endif %}
        </div>
      </article>
    </div>
  </div>
</div>
 

{% for block in section.blocks %}
  {% case block.type %}
    {% when 'heading_row' %}
      <div class="full-width full-{{ block.type }}">
        <div class="container about-container">
          <div class="row row-{{ block.type }} align-items-center">
            <div class="col-lg-25 col-md-30 {% if block.settings.image_side =='right' %}push-md-30{% else %}offset-lg-5{% endif %}">
              <img src="{{ block.settings.image | img_url: '650x' }}" alt="{{ block.settings.image.alt }}" />
            </div>
            <div class="col-lg-25 col-md-30{% if block.settings.image_side =='right' %} pull-lg-20 pull-md-30{% endif %} text-center rte">
              {% if block.settings.subtitle != blank %}
                <h4><i>{{ block.settings.subtitle }}</i></h4>
              {% endif %}
              {% if block.settings.title != blank %}
                <h2>{{ block.settings.title }}</h2>
                <hr />
              {% endif %}
              {{ block.settings.content }}
            </div>
          </div>
        </div>
      </div>

    {% when 'image_type' %}
      <div class="full-width full-{{ block.type }}">
        <div class="container-fluid about-container">
          
          <div class="row row-{{ block.type }} ">            
            <div class="{% if block.settings.width =='33%' %} col-md-20 text-center image-block-item image-block-{{ block.id }}{% endif %}{% if block.settings.width =='50%' %} col-md-30 text-center image-block-item image-block-{{ block.id }}{% endif %}{% if block.settings.width =='100%' %} col-md-60 text-center image-block-single {% endif %} ">
              {% if block.settings.image_one  %}
              <img src="{{ block.settings.image_one | img_url: '1500x' }}" alt="{{ block.settings.image.alt }}" />
               {% endif %}
              <h3>{{ block.settings.title_one }}</h3>
              {{ block.settings.content_one }}
            </div>
             <div class="{% if block.settings.width =='33%' %} col-md-20 text-center image-block-item image-block-{{ block.id }}{% endif %}{% if block.settings.width =='50%' %} col-md-30 text-center image-block-{{ block.id }}{% endif %}{% if block.settings.width =='100%' %} col-md-60 text-center image-block-single{% endif %} ">
               {% if block.settings.image_two  %}
              <img src="{{ block.settings.image_two | img_url: '1500x' }}" alt="{{ block.settings.image.alt }}" />
                {% endif %}
              <h3>{{ block.settings.title_two }}</h3>
              {{ block.settings.content_two }}
            </div>
             <div class="{% if block.settings.width =='33%' %} col-md-20 text-center image-block-{{ block.id }}{% endif %}{% if block.settings.width =='50%' %} col-md-30 text-center  image-block-{{ block.id }} {% endif %}{% if block.settings.width =='100%' %} col-md-60 text-center image-block-single {% endif %} ">
                {% if block.settings.image_three  %}
              <img src="{{ block.settings.image_three | img_url: '1500x' }}" alt="{{ block.settings.image.alt }}" />
              {% endif %}
              <h3>{{ block.settings.title_three }}</h3>
              {{ block.settings.content_three }}
            </div>

          </div>

        </div>

      </div>

    {% when 'full_image' %}
     <div class="full-width full-{{ block.type }}">
      <div class="container-fluid">
      <div class="row">
      <div class="col-md-40 no-padding ">
        <div class="about-img" style="background-image: url({{ block.settings.image | img_url: '1500x' }});"></div>
  </div>
  <div class=" col-md-20 no-padding">
      <div class="about-img" style="background-image: url({{ block.settings.image_one | img_url: '1500x' }});"></div>
   </div>
    </div>
</div>
</div>
 <div id="scroll-down">
{% when 'half_background_image' %}
     <div class="full-width full-{{ block.type }}">
      <div class="container-fluid">
      <div class="row">
      <div class="col-md-30 no-padding ">
        <div class="about-img" style="background-image: url({{ block.settings.image | img_url: '1500x' }});"></div>
  </div>
  <div class=" col-md-30 no-padding">
      <div class="about-img" style="background-image: url({{ block.settings.image_one | img_url: '1500x' }});"></div>
   </div>
    </div>
</div>
</div>
</div>
    {% when 'pull_quote' %}
      <div class="full-width full-{{ block.type }}">
        <div class="container about-container">
          <div class="quotes-wrapper">
            <div class="quotes-slider row ">
              <div class="quotes col-md-15 wow fadeInUp animated animated" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
                  <div class="quotes-slider__image quotes-slider__image-{{ block.settings.position }}" style="background-image:url({{ block.settings.image | img_url:'100x'}});"></div>
                 </div>
                <div class="col-md-40 about-quote wow fadeInUp animated animated " style="visibility: visible; animation-name: fadeInUp;">
                <h3>{{ block.settings.title }}</h3>
                {{ block.settings.content }}
                <em>
                    {{ block.settings.name }}
                    </em>


                  </div>
             
            </div>
          </div>
        </div>
      </div>

 
     
  {% when 'custom-block' %}
    <div class="custom-block text-center " >
        <div class="inner custom--{{ block.id }}">
                 {% if block.settings.title != blank %}
                <h3>{{ block.settings.title }}</h3>
              {% endif %}
          </div>
       </div>
  {% when 'four_items_block' %}
  <div class="four-items text-center container-fluid " >
    <div class="row">
          <div class="col-md-15 item-col-15  image-block-item">
              <h3>{{ block.settings.title_one }}</h3>
                {{ block.settings.text_one }}
                 </div>
                 <div class="col-md-15 item-col-15 image-block-item">
              <h3>{{ block.settings.title_two }}</h3>
                {{ block.settings.text_two }}
                 </div>
                 <div class="col-md-15 item-col-15 image-block-item">
              <h3>{{ block.settings.title_three }}</h3>
                {{ block.settings.text_three }}
                 </div>
                 <div class="col-md-15 item-col-15 image-block-item">
              <h3>{{ block.settings.title_four }}</h3>
                {{ block.settings.text_four }}
                 </div>
            </div>
          </div>
  {% endcase %}
 
{% endfor %}

         
{% if section.blocks.size == 0 %}
<div class="full-width">
  <div class="container about-container">
    <div class="row row-{{ block.type }}{% if block.type == 'heading_row' %} align-items-center{% endif %}">
      {% include 'no-blocks' %}
    </div>
    

  </div>
</div>
{% endif %}

{% schema %}

  {
    "name": "About Us",
    "blocks": [
      {
        "type": "heading_row",
        "name": "Image/Short Text",
        "settings": [
          {
            "type": "text",
            "id": "subtitle",
            "label": "Sub Title"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "radio",
            "id": "image_side",
            "label": "Image side",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          }
        ]
      },
      {
        "type": "custom-block",
        "name": "Custom Block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          
          }
        ]
      },
      {
        "type": "four_items_block",
        "name": "Four Item Block",
        "settings": [
          {
            "type": "text",
            "id": "title_one",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "text_one",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "title_two",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "text_two",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "title_three",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "text_three",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "title_four",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "text_four",
            "label": "Content"
          }
        ]
      },
      {
        "type": "image_type",
        "name": "Image Block",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_one",
            "label": "One Image"
          },
          {
            "type": "text",
            "id": "title_one",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "content_one",
            "label": "Content"
          },
          {
            "type": "image_picker",
            "id": "image_two",
            "label": "Two Image"
          },
          {
            "type": "text",
            "id": "title_two",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "content_two",
            "label": "Content"
          },
          {
            "type": "image_picker",
            "id": "image_three",
            "label": "Three Image"
          },
          {
            "type": "text",
            "id": "title_three",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "content_three",
            "label": "Content"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "33%",
            "options": [
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      },
      {
        "type": "full_image",
        "name": "Image Only",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_one",
            "label": "Background Image"
          }
        ]
      },
      {
        "type": "half_background_image",
        "name": "Half image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_one",
            "label": "Background Image"
          }
        ]
      },
      {
        "type": "pull_quote",
        "name": "Pull Quote",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Optional"
          },
         {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          },
           {
            "type": "text",
            "id": "name",
            "label": "Text"
          },
          {
          "id": "link",
          "type": "url",
          "label": "Button link"
        },
        {
          "id": "linktext",
          "type": "text",
          "label": "Button text",
          "default": "VIEW MORE"
        }
        ]
      }

    ]
  }
{% endschema %}
